@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background: var(--color-white);
}

a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

.fas, .fad, .fal, .far, .fab,
img {
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

button,
input,
select,
textarea,
.custom-file-label {
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
.custom-file-input:focus ~ .custom-file-label {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

body::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
    width: 14px;
    background-color: #292e38;
}

body::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, .1);
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

body::-webkit-scrollbar-thumb:hover,
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0, 0%, 100%, .4);
}

body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-track-piece,
.custom-scrollbar::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 15px
}

body::-webkit-scrollbar-track-piece,
.custom-scrollbar::-webkit-scrollbar-track-piece {
    background-color: transparent
}

@-webkit-keyframes inMiddle {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inMiddle {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outMiddle {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outMiddle {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inTop {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(8.5px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(8.5px) rotate(135deg);
    }
}

@keyframes inTop {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(8.5px) rotate(0deg);
    }
    100% {
        transform: translateY(8.5px) rotate(135deg);
    }
}

@-webkit-keyframes outTop {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(8.5px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(8.5px) rotate(135deg);
    }
}

@keyframes outTop {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(8.5px) rotate(0deg);
    }
    100% {
        transform: translateY(8.5px) rotate(135deg);
    }
}

@-webkit-keyframes inBottom {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-8.5px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-8.5px) rotate(135deg);
    }
}

@keyframes inBottom {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-8.5px) rotate(0deg);
    }
    100% {
        transform: translateY(-8.5px) rotate(135deg);
    }
}

@-webkit-keyframes outBottom {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-8.5px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-8.5px) rotate(135deg);
    }
}

@keyframes outBottom {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-8.5px) rotate(0deg);
    }
    100% {
        transform: translateY(-8.5px) rotate(135deg);
    }
}

.top-0 {
    top: 0 !important;
}

.bottom-0 {
    bottom: 0 !important
}

.right-0 {
    right: 0 !important
}

.left-0 {
    left: 0 !important;
}

.row.row-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.row.row-10 > [class*=col] {
    padding-left: 10px;
    padding-right: 10px;
}

.row.row-col-10 {
    margin: 0 -10px;
}

.row.row-col-10 > [class*=col] {
    padding: 10px;
}

.row.row-col-15 {
    margin: 0 -15px;
}

.row.row-col-15 > [class*=col] {
    padding: 15px;
}

.row.row-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row.row-5 > [class*=col] {
    padding-left: 5px;
    padding-right: 5px;
}

.template-7_heading {
    text-align: center;
    font-weight: 700;
    color: var(--color-dark-50);
    font-size: 2.4em;
    line-height: 1.2;
    max-width: 70%;
    margin: 0 auto 50px;
}

.template-7_heading > p {
    margin-bottom: 0;
    font-size: .45em;
    color: var(--color-dark-75);
    font-weight: 400;
    margin-top: 10px;
    line-height: 1.8;
}

.template-7_heading .button .btn {
    font-size: .9rem;
    padding: .9375rem 1.4375rem;
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width: 991px) {
    .template-7_heading {
        max-width: 100%;
        font-size: 2em;
    }

    .template-7_heading > p {
        font-size: .55em;
    }

    .template-7_heading .button .btn {
        padding: .7375rem 1.4375rem;
    }
}

.template-7_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 55px 0 20px;
}

.template-7_header .navigation .logo a img {
    height: 30px;
    max-width: 100%;
}

@media screen and (min-width: 992px) {
    .template-7_header .navigation .menu > ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .template-7_header .navigation .menu > ul > li {
        margin: 0 10px;
        position: relative;
    }

    .template-7_header .navigation .menu > ul > li:not(.menu-button) > a {
        padding: 10px 0;
        display: inline-block;
        font-size: 1.05em;
        font-weight: 700;
        color: var(--color-white-75);
        letter-spacing: 0.5px;
    }

    .template-7_header .navigation .menu > ul > li:not(.menu-button):hover > a {
        color: var(--color-white);
    }

    .template-7_header .navigation .menu > ul > li.menu-button {
        margin-right: 0;
    }

    .template-7_header .navigation .menu > ul > li.menu-button > a {
        color: var(--color-white);
        letter-spacing: 0.5px;
        text-align: center;
        padding: 10px 20px;
        font-size: .95em;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 4px;
        background-image: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
    }

    .template-7_header .navigation .menu > ul > li > ul {
        position: absolute;
        top: 101%;
        left: 0;
        min-width: 230px;
        width: max-content;
        z-index: 5;
        transform: translate(20px, 0px);
        background-color: rgba(15, 23, 55, 0.53);
        backdrop-filter: blur(10px);
        transition: .3s all ease-in-out;
        transform-origin: top;
        opacity: 0;
        visibility: hidden;
    }

    .template-7_header .navigation .menu > ul > li > ul > li > a {
        padding: 10px 15px;
        display: block;
        font-size: 1em;
        font-weight: 400;
        color: var(--color-white);
        letter-spacing: 0.5px;
        position: relative;
    }

    .template-7_header .navigation .menu > ul > li > ul > li > a:before {
        position: absolute;
        left: -5px;
        top: 0;
        bottom: 0;
        width: 4px;
        content: '';
        background: var(--color-white-75);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    .template-7_header .navigation .menu > ul > li > ul > li > a:hover:before {
        left: 0;
        visibility: visible;
        opacity: 1;
    }

    .template-7_header .navigation .menu > ul > li > ul > li:not(:last-of-type) a {
        border-bottom: 1px dashed var(--color-gray-50);
    }

    .template-7_header .navigation .menu > ul > li:hover > ul {
        transform: translate(0px, 0px);
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (max-width: 991px) {
    .template-7_header {
        padding-top: 30px;
    }

    .template-7_header .logo {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }

    .template-7_header .logo #hamburger {
        width: 30px;
        height: 30px;
        position: relative;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }

    .template-7_header .logo #hamburger i {
        background-color: var(--color-white-75);
        border-radius: 2px;
        content: '';
        display: block;
        width: calc(100% - 2px);
        height: 2px;
    }

    .template-7_header .logo #hamburger i:nth-child(1) {
        -webkit-animation: outTop 0.5s backwards;
        animation: outTop 0.5s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }

    .template-7_header .logo #hamburger i:nth-child(2) {
        margin: 6.5px 0;
        -webkit-animation: outMiddle 0.5s backwards;
        animation: outMiddle 0.5s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }

    .template-7_header .logo #hamburger i:nth-child(3) {
        -webkit-animation: outBottom 0.5s backwards;
        animation: outBottom 0.5s backwards;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
    }

    .template-7_header .logo #hamburger.before i {
        animation: none !important;
    }

    .template-7_header.active .logo #hamburger i:nth-child(1) {
        -webkit-animation: inTop 0.5s forwards;
        animation: inTop 0.5s forwards;
    }

    .template-7_header.active .logo #hamburger i:nth-child(2) {
        -webkit-animation: inMiddle 0.5s forwards;
        animation: inMiddle 0.5s forwards;
    }

    .template-7_header.active .logo #hamburger i:nth-child(3) {
        -webkit-animation: inBottom 0.5s forwards;
        animation: inBottom 0.5s forwards;
    }

    .template-7_header.active .logo #hamburger i {
        background: var(--color-white);
    }

    .template-7_header .menu {
        position: absolute;
        top: calc(101% + 15px);
        left: 15px;
        width: calc(100% - 30px);
        z-index: 5;
        background-color: rgba(15, 23, 55, 0.53);
        backdrop-filter: blur(10px);
        transition: .5s all ease-in-out;
        transform-origin: top;
        opacity: 0;
        visibility: hidden;
    }

    .template-7_header .menu > ul > li:not(.menu-button) > a {
        padding: 10px 10px 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1em;
        font-weight: 700;
        color: var(--color-white);
        letter-spacing: 0.5px;
        position: relative;
    }

    .template-7_header .menu > ul > li:not(.menu-button) > a > i {
        font-weight: 300;
    }

    .template-7_header .menu > ul > li:not(.menu-button) > a > i:before {
        content: "\f067";
    }

    .template-7_header .menu > ul > li:not(.menu-button) > a[aria-expanded=true] i:before {
        content: "\f068";
    }

    .template-7_header .menu > ul > li:not(.menu-button) > ul > li > a {
        padding: 10px 10px 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1em;
        font-weight: 400;
        color: var(--color-white-75);
        letter-spacing: 0.5px;
        position: relative;
    }

    .template-7_header .menu > ul > li:not(.menu-button) > a:focus,
    .template-7_header .menu > ul > li:not(.menu-button) > ul > li > a:focus {
        color: var(--color-white);
    }

    .template-7_header .menu > ul > li.menu-button {
        padding: 10px;
    }

    .template-7_header .menu > ul > li.menu-button > a {
        display: block;
        color: var(--color-white);
        letter-spacing: 0.5px;
        text-align: center;
        padding: 10px 20px;
        font-size: .9em;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 4px;
        background-image: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
    }

    .template-7_header.active .menu {
        opacity: 1;
        visibility: visible;
    }
}

.template-7_wrapper {
    background: var(--color-white);
    padding: 50px 0;
}

.template-7_banner {
    padding-top: 190px;
    padding-bottom: 60px;
    position: relative;
    background: #050918;
}

.template-7_banner:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    z-index: 2;
    height: 100%;
    display: inline-block;
    background-image: url('../images/home.png');
}

.template-7_banner .wave-poistion {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.template-7_banner > .container {
    position: relative;
    z-index: 3;
}

.template-7_banner .content .title {
    line-height: 1.4;
    color: var(--yellow-color);
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 20px;
}

.template-7_banner .content .desc {
    color: var(--color-white-50);
    font-size: 1.5em;
    line-height: 1.8;
}

.template-7_banner .content .button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.template-7_banner .content .button a {
    display: inline-block;
    margin-right: 20px;
}

.template-7_banner .content .button a:last-child {
    margin-right: 0;
}

.template-7_banner .content .button a img {
    height: 60px;
    max-width: 100%;
    display: block;
    vertical-align: middle;
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .template-7_banner .content .title {
        font-size: 2.2em;
    }

    .template-7_banner .content .desc {
        font-size: 1.2em;
    }

    .template-7_banner .content .button a img {
        height: 50px;
    }
}

@media screen and (max-width: 768px) {
    .template-7_banner {
        padding-top: 140px;
    }

    .template-7_banner .content .title {
        text-align: center;
        font-size: 2.2em;
    }

    .template-7_banner .content .desc {
        font-size: 1.2em;
        text-align: center;
    }

    .template-7_banner .content .button {
        justify-content: center;
    }

    .template-7_banner .content .button a img {
        height: 50px;
    }
}

.template-7_banner .form .inner .header {
    width: 100%;
    background: var(--color-white);
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.template-7_banner .form .inner .header .nav {
    flex-wrap: nowrap;
    width: 100%;
    border-bottom: 0;
    margin-bottom: 0;
}

.template-7_banner .form .inner .header .nav li {
    text-align: center;
    width: 100%;
}

.template-7_banner .form .inner .header .nav li a {
    padding: 15px 25px;
    color: var(--color-dark);
    font-size: 1.2em;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 0;
    border: 0 !important;
    margin-bottom: 0;
    position: relative;
    width: 100%;
}

.template-7_banner .form .inner .header .nav li a:before,
.template-7_banner .form .inner .header .nav li a:after {
    position: absolute;
    content: "";
    display: block;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.template-7_banner .form .inner .header .nav li a:before {
    width: 50%;
    height: 1px;
    background: var(--primary-hover);
}

.template-7_banner .form .inner .header .nav li a:after {
    width: 8px;
    height: 8px;
    bottom: 3px;
    border-radius: 50%;
    background: var(--primary-hover);
}

.template-7_banner .form .inner .header .nav li a.active {
    color: var(--primary-hover);
}

.template-7_banner .form .inner .header .nav li a.active:before,
.template-7_banner .form .inner .header .nav li a.active:after {
    transform: translateX(-50%) scale(1);
}


.template-7_banner .form .inner .header .nav li:not(:last-of-type) {
    margin-right: 1px;
}

.template-7_banner .form .inner .body {
    background: rgba(247, 250, 255, .8);
    padding: 15px;
    border-radius: 0 0 5px 5px;
}

.template-7_banner .form .inner .body .top {
    padding: 15px;
}

.template-7_banner .form .inner .body .top .group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
}

.template-7_banner .form .inner .body .top .group.group-inline {
    flex-wrap: nowrap;
}

.template-7_banner .form .inner .body .top .group .group-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.template-7_banner .form .inner .body .top .group label {
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.1em;
    color: var(--color-dark);
    letter-spacing: .5px;
    display: block;
}

.template-7_banner .form .inner .body .top .group.group-inline label {
    margin-bottom: 0;
}

.template-7_banner .form .inner .body .top .group .group-select {
    padding-right: 25px !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../images/arrow-select.svg') !important;
    background-repeat: no-repeat !important;
    background-position: right .7em top 50% !important;
    background-size: 6px auto, 100% !important;
    height: 50px;
    background-color: var(--color-white-50) !important;
    border-radius: 0 6px 6px 0;
    width: 40% !important;
    color: var(--color-dark);
    border: 0;
    box-shadow: none;
    outline: none;
    display: block;
    line-height: 1.43em;
    font-size: 1.4em;
    position: relative;
}

.template-7_banner .form .inner .body .top .group.group-inline .group-select {
    background-color: var(--color-white) !important;
    width: 20% !important;
    border-radius: 6px;
    margin-left: 10px;
    font-size: 1.2em;
    padding: 0 10px !important;
    height: 46px;
}

.template-7_banner .form .inner .body .top .coin {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 100%;
    cursor: poinTer;
}

.template-7_banner .form .inner .body .top .coin img {
    height: 24px;
}

.template-7_banner .form .inner .body .top .coin .title {
    font-size: 16px;
    margin-left: 4px;
    font-weight: 700;
}

.template-7_banner .form .inner .body .top .dropdown-coin {
    position: absolute;
    z-index: 4;
    border-radius: 5px;
    background-color: rgba(11, 17, 41, 0.53);
    backdrop-filter: blur(10px);
    width: 280px;
    top: 100%;
    right: 0;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    transition: all 0.26s ease;
    font-size: 14px;
    text-align: left;
}

.template-7_banner .form .inner .body .top .dropdown-coin .dropdown-coin--inner {
    padding: 20px;
}

.template-7_banner .form .inner .body .top .dropdown-coin .dropdown-coin--inner .title {
    font-weight: 700;
    color: var(--color-white);
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.template-7_banner .form .inner .body .top .dropdown-coin .dropdown-coin--inner .list-coin ul {
    max-height: 340px;
    overflow-y: auto;
}

.template-7_banner .form .inner .body .top .dropdown-coin .dropdown-coin--inner .list-coin ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.template-7_banner .form .inner .body .top .dropdown-coin .dropdown-coin--inner .list-coin ul li a .image {
    width: 30px;
    height: 30px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
}

.template-7_banner .form .inner .body .top .dropdown-coin .dropdown-coin--inner .list-coin ul li a .image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.template-7_banner .form .inner .body .top .dropdown-coin .dropdown-coin--inner .list-coin ul li a .name {
    padding-left: 15px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: var(--color-white-75);
    font-size: 1em;
}

.template-7_banner .form .inner .body .top .dropdown-coin .dropdown-coin--inner .list-coin ul li a .name span {
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 0;
    line-height: 1;
}

.template-7_banner .form .inner .body .top .dropdown-coin .dropdown-coin--inner .list-coin ul li + li {
    margin-top: 15px;
}

.template-7_banner .form .inner .body .top .dropdown-coin.show {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}

.template-7_banner .form .inner .body .top .group .group-input {
    border-radius: 6px 0 0 6px;
    width: 65% !important;
    height: 50px !important;
    border: 0;
    color: var(--color-dark);
    font-size: 1.4em;
    padding: 12px 15px;
    background: var(--color-white);
}

.template-7_banner .form .inner .body .top .group.group-inline label {
    width: auto;
}

.template-7_banner .form .inner .body .top .btn {
    width: 80%;
    margin: 15px auto;
    border-radius: 4px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-hover);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
    color: var(--color-white);
}

.template-7_banner .form .inner .body .top .btn:hover {
    background: var(--primary-hover-sub);
}

.template-7_banner .form .inner .body .bottom {
    margin: 5px;
    text-align: center;
}

.template-7_banner .form .inner .body .bottom img {
    padding: 2px;
    display: inline-block;
    margin: 5px;
    width: auto;
    height: auto;
}


@media screen and (max-width: 991px) {
    .template-7_banner .form .inner .header .nav li a {
        font-size: 1em;
        padding: 15px;
        white-space: nowrap;
    }

    .template-7_banner .form .inner .body .top {
        padding: 0;
    }

    .template-7_banner .form .inner .body .top .coin img {
        height: 20px;
    }

    .template-7_banner .form .inner .body .top .coin .title {
        font-size: 14px;
    }

    .template-7_banner .form .inner .body .top .dropdown-coin .dropdown-coin--inner .title {
        font-size: 1em;
    }

    .template-7_banner .form .inner .body .top .dropdown-coin .dropdown-coin--inner .list-coin ul li a .image {
        width: 28px;
        height: 28px;
    }

    .template-7_banner .form .inner .body .top .dropdown-coin .dropdown-coin--inner .list-coin ul li a .name {
        line-height: 1.6;
    }

    .template-7_banner .form .inner .body .top .btn {
        height: 44px;
    }
}

.template-7_table {
    width: 100%;
    font-size: 14px;
}

.template-7_table thead tr th {
    font-weight: 500;
    font-size: 1em;
    color: var(--color-gray-50);
    padding: 15px 0;
    white-space: nowrap;
    vertical-align: middle;
}

.template-7_table tbody tr td {
    border-top: 1px solid var(--color-white-75);
    padding: 15px 0;
    vertical-align: middle;
    white-space: nowrap;
}

.template-7_table tbody tr td .coin .image {
    border-radius: 12px;
    padding: 5px;
    margin-right: 12px;
}

.template-7_table tbody tr td .coin .image img {
    width: 22px;
}

.template-7_table tbody tr td .coin .title {
    font-weight: 700;
    color: var(--color-dark-50);
    letter-spacing: .75px;
    font-size: 1em;
}

.template-7_table tbody tr td .price {
    font-weight: 500;
    font-size: 1em;
    color: var(--color-gray-50);
    letter-spacing: .75px;
}

.template-7_table tbody tr td .desc {
    font-weight: 700;
    font-size: 1em;
    letter-spacing: .75px;
}

.template-7_table tbody tr td .btn {
    font-weight: 500;
    font-size: .9em;
    min-width: 60px;
    margin: 0 4px;
}

.table-responsive::-webkit-scrollbar {
    background-color: #292e38;
    height: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, .1);
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0, 0%, 100%, .4);
}

.table-responsive::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 15px
}

.table-responsive::-webkit-scrollbar-track-piece {
    background-color: transparent
}

@media screen and (max-width: 991px) {
    .template-7_table th,
    .template-7_table td {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .template-7_table {
        font-size: 13px;
    }

    .template-7_table tbody tr td .coin .image img {
        width: 18px;
    }
}

.template-7_readmore {
    text-align: center;
    margin-top: 30px;
}

.template-7_readmore > a {
    display: inline-block;
    padding: 7px 20px;
    color: var(--color-dark);
    font-weight: 500;
    font-size: 1em;
    border-radius: 6px;
    background: var(--color-white);
    border: 1px solid var(--color-white-75);
}

.template-7_readmore > a:hover {
    background: var(--color-white-50);
    color: var(--color-dark);
}

.template-7_service .card {
    background: var(--color-white);
}

.template-7_service .card img {
    height: 48px;
    min-width: 48px;
    width: 48px;
    margin-bottom: .5rem;
    transition: .3s all ease;
}

.template-7_service .card .title {
    font-weight: 700;
    font-size: 1.1em;
    color: var(--color-dark-50);
    transition: .3s all ease;
}

.template-7_service .card .desc {
    font-size: .95em;
    color: var(--color-dark-75);
}

.template-7_service .card:hover .title {
    color: var(--primary-color);
}

.template-7_service .card:hover img {
    opacity: .8;
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .template-7_service .card {
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .template-7_service .card img {
        height: 34px;
        width: 34px;
        min-width: 34px;
    }

    .template-7_service .card .title {
        padding-left: 10px;
    }
}

.template-7_partner {
    padding: 0 45px;
}

.template-7_partner .partner-item {
    text-align: center;
}

.template-7_partner .partner-item img {
    vertical-align: middle;
    max-width: 80%;
    max-height: 38px;
    margin: 0 auto;
}

.template-7_partner [class*=swiper-button] {
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.template-7_partner [class*=swiper-button]:after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    font-size: 1.4em;
    color: var(--color-gray);
    transition: .3s all ease;
}

.template-7_partner .swiper-button-prev:after {
    content: "\f053";
}

.template-7_partner .swiper-button-next:after {
    content: "\f054";
}

.template-7_partner [class*=swiper-button]:hover:after {
    color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .template-7_partner {
        padding-left: 30px;
        padding-right: 30px;
    }

    .template-7_partner .partner-item img {
        vertical-align: middle;
        max-width: 90%;
    }
}

.template-7_number .number-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.template-7_number .number-item .number {
    font-size: 3em;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 52px;
}

.template-7_number .number-item .text {
    font-size: 1.1em;
    color: var(--color-dark-75);
}

@media screen and (max-width: 768px) {
    .template-7_number .number-item .number {
        font-size: 2em;
    }
}

.template-7_video .template-7_heading {
    text-align: left;
    margin: 0;
    max-width: 100%;
    padding: 30px 0;
}


.template-7_video .template-7_heading .desc {
    font-size: .45em;
    line-height: 1.8;
    margin-top: 20px;
    color: var(--color-dark-75);
    font-weight: 400;
}

.template-7_video .template-7_heading .desc p {
    margin-bottom: 0;
}

.template-7_video .inner {
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    box-shadow: 1.5px 3.99px 27px 0px rgb(0 0 0 / 8%);
    position: relative;
}

.template-7_video .inner .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: center center/cover no-repeat;
}

.template-7_video .inner a span {
    background: rgba(255, 255, 255, .9);
    box-shadow: 1.5px 3.99px 27px 0px rgb(0 0 0 / 8%);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    position: absolute;
    z-index: 1;
    top: calc((100% - 100px) / 2);
    left: calc((100% - 100px) / 2);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6em;
    color: var(--color-dark-50);
}

.template-7_video .inner a span i {
    transform: rotate(45deg);
}

.template-7_video .inner a:hover span {
    color: var(--primary-color);
}

@media screen and (max-width: 991px) {
    .template-7_video .template-7_heading {
        text-align: center;
    }

    .template-7_video .inner {
        height: unset;
        padding-bottom: 75%;
    }

    .template-7_video .template-7_heading .desc {
        font-size: .5em;
    }
}

.template-7_cta {
    background: no-repeat 50% 100%;
    background-size: 837px 136px;
    margin: 0 -16px;
    padding: 0 16px 120px;
}

@media screen and (max-width: 768px) {
    .template-7_cta {
        background-size: 600px 80px;
        padding-bottom: 60px;
    }
}


.template-7_footer {
    padding-bottom: 4rem;
    padding-top: 2rem;
    border-top: 1px solid var(--color-white-75);
}

.template-7_footer .logo {
    width: 100px;
    vertical-align: middle;
    max-width: 100%;
}

.template-7_footer .btn-faq,
.template-7_footer .btn-dropdown {
    font-size: 1em;
    font-weight: 500;
    border: 1px solid var(--color-white-75);
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: .175rem .75rem;
    height: 34px;
}

.template-7_footer .btn-faq:hover,
.template-7_footer .btn-dropdown:hover {
    background: var(--color-white-50);
}

.template-7_footer .btn-faq:active,
.template-7_footer .btn-dropdown:active {
    background-color: #fff !important;
    border-color: #d8d8d8 !important;
    box-shadow: inset 0 4px 6px rgba(51, 51, 51, .15) !important;
}

.template-7_footer .btn-dropdown:after {
    transition: .3s all ease;
}

.template-7_footer .btn-dropdown[aria-expanded=true]:after {
    transform: rotate(180deg);
}

.template-7_footer .btn-faq i {
    margin-right: 4px;
}

.template-7_footer .footer-menu .footer-menu--heading .toggled-footer {
    font-weight: 700;
    font-size: 1.05em;
    text-transform: capitalize;
    color: var(--color-dark);
    margin-bottom: 15px;
    display: inline-block;
}

.template-7_footer .footer-menu .footer-menu--list > ul > li > a {
    font-size: 1em;
    color: var(--color-dark);
}

.template-7_footer .footer-menu .footer-menu--list > ul > li > a:hover {
    color: var(--primary-color);
}

.template-7_footer .footer-menu .footer-menu--list > ul > li:not(:last-child) {
    margin-bottom: 10px;
}

.template-7_footer .footer-menu .footer-menu--row .footer-menu--heading .toggled-footer {
    margin-bottom: 0;
}

.template-7_footer .footer-menu .footer-menu--row .footer-menu--list > ul > li {
    margin-bottom: 0;
    margin-left: 20px;
}

.template-7_footer .footer-desc {
    font-size: .8em;
    color: var(--color-dark-75);
    line-height: 1.7;
}

.template-7_footer .footer-social ul li a {
    border: 1px solid var(--color-white-75);
    height: 30px;
    width: 30px;
    border-radius: 4px;
    color: var(--color-dark-75);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.template-7_footer .footer-social ul li:not(:first-of-type) {
    margin-left: 15px;
}

.template-7_footer .footer-social ul li a:hover {
    color: var(--primary-color);
}

.template-7_footer .footer-social nav a {
    display: inline-block;
    background-color: #000;
    border-radius: 4px;
    transition: all .25s ease-in-out;
    border: 1px solid var(--color-white-75);
}

.template-7_footer .footer-social nav a svg {
    width: 120px;
    height: 40px;
    transition: fill .25s ease-in-out;
    fill: var(--color-white);
}

.template-7_footer .footer-social nav a:hover {
    background: var(--color-white);
    border-color: var(--color-dark);
}

.template-7_footer .footer-social nav a:hover svg {
    fill: var(--color-dark);
}

.template-7_footer .dropdown-language .dropdown-menu {
    -webkit-columns: 1;
    column-count: 1;
    padding: 8px;
    z-index: 995;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    box-shadow: 0 16px 24px rgb(51 51 51 / 8%);
    border-radius: 4px;
    margin-top: 8px;
    font-size: 14px;
}

.template-7_footer .dropdown-language .dropdown-menu > a {
    white-space: pre-wrap;
    padding: 10px;
    font-weight: 400;
    line-height: 18px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-inline-flex;
    display: inline-flex;
    font-size: .975em;
    color: var(--color-dark);
}

.template-7_footer .dropdown-language .dropdown-menu > a:before {
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 8px;
    width: 16px;
    min-width: 16px;
}

.template-7_footer .dropdown-language .dropdown-menu > a:hover {
    background-color: #f8f8f8;
}

.template-7_footer .dropdown-language .dropdown-menu > a.active {
    background-color: #f4fafd;
}

.template-7_footer .dropdown-language .dropdown-menu > a.active:before {
    background-image: url(../images/checked.svg);
}

@media screen and (min-width: 575px) {
    .template-7_footer .dropdown-language .dropdown-menu {
        width: 408px;
        -webkit-columns: 2;
        column-count: 2;
    }
}

@media screen and (min-width: 768px) {
    .template-7_footer .footer-menu .footer-menu--list {
        display: block;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .template-7_footer .logo {
        width: 100%;
    }

    .template-7_footer .btn-dropdown {
        margin-left: auto;
    }

    .template-7_footer .footer-menu .footer-menu--heading .toggled-footer:after {
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        content: "\f107";
        position: absolute;
        top: 6px;
        right: 10px;
        text-align: center;
        font-size: 1.2em;
        color: #000;
        -webkit-transition: .2s all ease;
        -o-transition: .2s all ease;
        transition: .2s all ease;
    }

    .template-7_footer .footer-menu .footer-menu--heading .toggled-footer[aria-expanded=true]:after {
        -webkit-transform: rotate(
                180deg
        );
        -ms-transform: rotate(180deg);
        transform: rotate(
                180deg
        );
    }
}

.template-7_timeline .timeline-main {
    margin: 20px 0;
    position: relative;
}

.template-7_timeline .timeline-main:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: var(--primary-hover);
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.template-7_timeline .timeline-main .timeline {
    margin-bottom: 40px;
    position: relative;
}

.template-7_timeline .timeline-main .timeline:after {
    content: "";
    display: block;
    clear: both;
}

.template-7_timeline .timeline-main .icon {
    width: 18px;
    height: 18px;
    margin: auto;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
}

.template-7_timeline .timeline-main .icon:before,
.template-7_timeline .timeline-main .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s;
}

.template-7_timeline .timeline-main .icon:before {
    background: #fff;
    border: 1px solid var(--primary-hover);
    left: -3px;
}

.template-7_timeline .timeline-main .icon:after {
    border: 1px solid var(--primary-color);
    left: 3px;
}

.template-7_timeline .timeline-main .date-content {
    width: 50%;
    float: left;
    position: relative;
}

.template-7_timeline .timeline-main .date-content:before {
    content: "";
    width: 33.8%;
    height: 1px;
    background: var(--primary-color);
    margin: auto 0;
    position: absolute;
    top: 54%;
    right: 11px;
}

.template-7_timeline .timeline-main .date-outer {
    width: 150px;
    height: 150px;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin: auto;
    z-index: 1;
}

.template-7_timeline .timeline-main .date-outer:before,
.template-7_timeline .timeline-main .date-outer:after {
    content: "";
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
}

.template-7_timeline .timeline-main .date-outer:before {
    background: #fff;
    border: 1px solid var(--primary-hover);
    left: -6px;
}

.template-7_timeline .timeline-main .date-outer:after {
    border: 1px solid var(--primary-color);
    left: 6px;
}

.template-7_timeline .timeline-main .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.template-7_timeline .timeline-main .month {
    font-size: 18px;
    font-weight: 700;
    color: #111;
}

.template-7_timeline .timeline-main .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #111;
    line-height: 36px;
}

.template-7_timeline .timeline-main .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right;
}

.template-7_timeline .timeline-main .title {
    font-size: 19px;
    font-weight: 700;
    color: #111;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

.template-7_timeline .timeline-main .description {
    font-size: 14px;
    color: #787878;
    margin-bottom: 0;
}

.template-7_timeline .timeline-main .timeline:nth-child(2n) .date-content {
    float: right;
    top: 10px;
}

.template-7_timeline .timeline-main .timeline:nth-child(2n) .date-content:before {
    left: 11px;
    top: 48%;
}

.template-7_timeline .timeline-main .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .template-7_timeline .timeline-main .date-content {
        top: 11px;
    }

    .template-7_timeline .timeline-main .timeline:nth-child(2n) .date-content {
        top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .template-7_timeline .timeline-main:before {
        left: 4px;
        margin: 0;
    }

    .template-7_timeline .timeline-main .timeline {
        margin-bottom: 20px;
    }

    .template-7_timeline .timeline-main .icon {
        margin: auto 0;
        left: -4px;
    }

    .template-7_timeline .timeline-main .date-content {
        width: 95%;
        margin: 0 auto;
        float: none !important;
        top: unset !important;
    }

    .template-7_timeline .timeline-main .date-outer,
    .template-7_timeline .timeline-main .date-outer:before,
    .template-7_timeline .timeline-main .date-outer:after {
        width: 120px;
        height: 120px;
    }

    .template-7_timeline .timeline-main .month {
        font-size: 16px;
    }

    .template-7_timeline .timeline-main .year {
        font-size: 24px;
    }

    .template-7_timeline .timeline-main .date-content:before {
        display: none;
    }

    .template-7_timeline .timeline-main .timeline-content {
        width: 95%;
        text-align: center !important;
        float: none !important;
        padding: 20px 10px 20px 15px !important;
        margin: 0 auto;
    }
}

.template-7_account {
    position: relative;
    z-index: 1;
    padding-bottom: 70px;
}

.template-7_account:before {
    position: absolute;
    top: 120px;
    left: 0;
    content: "";
    width: 100%;
    z-index: 11;
    height: 100%;
    display: inline-block;
    background-image: url(../images/home.png);
}

.template-7_account .background {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
    width: 100%;
    height: 100%;
    /*min-width: 1920px;*/
    user-select: none;
    transform: translateX(-50%);
    background: linear-gradient(
            90deg, var(--primary-color), var(--primary-hover));
    min-height: 300px;
    max-height: 770px;
}

.template-7_account .background > svg {
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    float: left;
}

.template-7_account .background > svg > .svg-banner-shape {
    fill: var(--color-white);
}

.template-7_account .account-main {
    position: relative;
    z-index: 21;
    padding-top: 220px;
}

.template-7_account .account-box {
    display: flex;
    background: #fff;
    box-shadow: 0 4px 32px 0 rgb(10 14 29 / 2%), 0 8px 64px 0 rgb(10 14 29 / 8%);
    border-radius: 3px;
    min-height: 450px;
    align-items: center;
}

.template-7_account .account-box .account__content {
    width: 100%;
    padding: 36px 56px 48px;
}

.template-7_account .account-box .account__content .account__title {
    font-size: 2.8em;
    color: var(--primary-hover);
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
}

.template-7_account .account-box .account__content .account__desc {
    margin-top: -35px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.1em;
    color: var(--color-dark-75);
}

.template-7_account .account-box .account__content form {
    margin-bottom: 0;
    width: 100%;
}

.template-7_account .account-box .account__content .account__group {
    color: var(--color-dark-50);
    border: 1px solid var(--color-white-75);
    background-color: var(--color-white);
    box-shadow: none;
    margin-bottom: 24px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    border-radius: 3px;
    font-size: 17px;
    transition: border .3s linear;
    padding: 0 !important;
}

.template-7_account .account-box .account__content .account__group .account__label {
    height: 24px;
    width: 24px;
    min-width: 24px;
    min-height: 24px;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.template-7_account .account-box .account__content .account__group .account__label:first-of-type {
    margin-left: 16px;
}

.template-7_account .account-box .account__content .account__group .account__label svg {
    width: 24px;
    height: 24px;
}

.template-7_account .account-box .account__content .account__group .account__label svg .stroke {
    fill: none;
    stroke: #8692b0;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: .3s ease;
}

.template-7_account .account-box .account__content .account__group .account__label svg .fill {
    fill: #8692b0;
    transition: .3s ease;
}

.template-7_account .account-box .account__content .account__group .account__input {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    transition: border .3s linear;
    appearance: none;
    display: block;
    box-shadow: none;
    line-height: 1.42857143;
    font-weight: inherit;
    padding: 0px 15px;
    color: var(--color-dark-50);
    font-size: 15px;
    border-radius: 3px;
    vertical-align: middle;
    min-height: 100%;
    border: none !important;
    background: transparent !important;
    height: auto;
    flex: 1 1 auto;
}

.template-7_account .account-box .account__content .account__group .account__input:last-of-type {
    margin-bottom: 0 !important;
}

.template-7_account .account-box .account__content .account__button button {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 1 auto;
    background: var(--primary-hover);
    color: var(--color-white);
    font-size: 1.1em;
    font-weight: 700;
    padding: 0 24px;
    height: 56px;
    line-height: 28px;
    border-radius: 3px;
}

.template-7_account .account-box .account__content .account__button button:hover {
    background: var(--primary-hover-sub);
}

.template-7_account .account-box .account__content .account__text {
    color: var(--color-dark-50);
}

.color-inherit {
    color: inherit;
}

@media screen and (max-width: 991px) {
    .template-7_account .account-box {
        min-height: 500px;
    }

    .template-7_account .account-box .account__content {
        padding: 36px 30px 48px;
    }

    .template-7_account .account-box .account__content .account__title {
        font-size: 2em;
    }

    .template-7_account .account-box .account__content .account__desc {
        font-size: 1em;
    }

    .template-7_account .account-box .account__content .account__group {
        margin-bottom: 30px;
    }

    .template-7_account .account-box .account__content .account__group,
    .template-7_account .account-box .account__content .account__button button {
        height: 44px;
    }

    .template-7_account .account-box .account__content .account__group .account__label {
        height: 20px;
        width: 20px;
        min-width: 20px;
        min-height: 20px;
        font-size: 20px;
        line-height: 20px;
    }

    .template-7_account .account-box .account__content .account__group .account__label svg {
        height: 20px;
        width: 20px;
    }
}