@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background: var(--color-white);
}

a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

.fas, .fad, .fal, .far, .fab,
img {
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

button,
input,
select,
textarea,
.custom-file-label {
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
.custom-file-input:focus ~ .custom-file-label {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.top-0 {
    top: 0 !important;
}

.bottom-0 {
    bottom: 0 !important
}

.right-0 {
    right: 0 !important
}

.left-0 {
    left: 0 !important;
}

.row.row-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.row.row-10 > [class*=col] {
    padding-left: 10px;
    padding-right: 10px;
}

.row.row-col-10 {
    margin: 0 -10px;
}

.row.row-col-10 > [class*=col] {
    padding: 10px;
}

.row.row-col-15 {
    margin: 0 -15px;
}

.row.row-col-15 > [class*=col] {
    padding: 15px;
}

.row.row-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row.row-5 > [class*=col] {
    padding-left: 5px;
    padding-right: 5px;
}

.template-7_heading {
    text-align: center;
    font-weight: 800;
    color: var(--color-dark-50);
    font-size: 2.4em;
    line-height: 1.5;
    max-width: 60%;
    margin: 0 auto 50px;
}

.template-7_heading p {
    margin-bottom: 0;
    font-size: .45em;
    color: var(--color-dark-75);
    font-weight: 400;
    margin-top: 10px;
}

.template-7_heading .button .btn {
    font-size: .9rem;
    padding: .9375rem 1.4375rem;
    outline: none !important;
    box-shadow: none !important;
}

.template-7_wrapper {
    background: var(--color-white);
    padding: 50px 0;
}

.template-7_table {
    width: 100%;
    font-size: 14px;
}

.template-7_table thead tr th {
    font-weight: 500;
    font-size: 1em;
    color: var(--color-gray-50);
    padding: 15px 0;
    vertical-align: middle;
}

.template-7_table tbody tr td {
    border-top: 1px solid var(--color-white-75);
    padding: 15px 0;
    vertical-align: middle;
}

.template-7_table tbody tr td .coin .image {
    border-radius: 12px;
    padding: 5px;
    margin-right: 12px;
}

.template-7_table tbody tr td .coin .image img {
    width: 22px;
}

.template-7_table tbody tr td .coin .title {
    font-weight: 700;
    color: var(--color-dark-50);
    letter-spacing: .75px;
    font-size: 1em;
}

.template-7_table tbody tr td .price {
    font-weight: 500;
    font-size: 1em;
    color: var(--color-gray-50);
    letter-spacing: .75px;
}

.template-7_table tbody tr td .desc {
    font-weight: 700;
    font-size: 1em;
    letter-spacing: .75px;
}

.template-7_table tbody tr td .btn {
    font-weight: 500;
    font-size: .9em;
    min-width: 60px;
}

.template-7_readmore {
    text-align: center;
    margin-top: 30px;
}

.template-7_readmore > a {
    display: inline-block;
    padding: 7px 20px;
    color: var(--color-dark);
    font-weight: 500;
    font-size: 1em;
    border-radius: 6px;
    background: var(--color-white);
    border: 1px solid var(--color-white-75);
}

.template-7_readmore > a:hover {
    background: var(--color-white-50);
    color: var(--color-dark);
}

.template-7_service .card {
    background: var(--color-white);
}

.template-7_service .card img {
    height: 48px;
    min-width: 48px;
    width: 48px;
    margin-bottom: .5rem;
    transition: .3s all ease;
}

.template-7_service .card .title {
    font-weight: 700;
    font-size: 1.1em;
    color: var(--color-dark-50);
    transition: .3s all ease;
}

.template-7_service .card .desc {
    font-size: .95em;
    color: var(--color-dark-75);
}

.template-7_service .card:hover .title {
    color: var(--primary-color);
}

.template-7_service .card:hover img {
    opacity: .8;
}

.template-7_partner {
    padding: 0 45px;
}

.template-7_partner .partner-item {
    text-align: center;
}

.template-7_partner .partner-item img {
    vertical-align: middle;
    max-width: 80%;
    max-height: 38px;
    margin: 0 auto;
}

.template-7_partner [class*=swiper-button] {
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.template-7_partner [class*=swiper-button]:after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    font-size: 1.4em;
    color: var(--color-gray);
    transition: .3s all ease;
}

.template-7_partner .swiper-button-prev:after {
    content: "\f053";
}

.template-7_partner .swiper-button-next:after {
    content: "\f054";
}

.template-7_partner [class*=swiper-button]:hover:after {
    color: var(--primary-color);
}

.template-7_cta {
    background: no-repeat 50% 100%;
    background-size: 837px 136px;
    margin: 0 -16px;
    padding: 0 16px 120px;
}

.template-7_footer {
    padding-bottom: 4rem;
    padding-top: 2rem;
    border-top: 1px solid var(--color-white-75);
}

.template-7_footer .logo {
    width: 85px;
    vertical-align: middle;
    max-width: 100%;
}

.template-7_footer .btn-faq,
.template-7_footer .btn-dropdown {
    font-size: 1em;
    font-weight: 500;
    border: 1px solid var(--color-white-75);
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: .175rem .75rem;
    height: 34px;
}

.template-7_footer .btn-faq:hover,
.template-7_footer .btn-dropdown:hover{
    background: var(--color-white-50);
}

.template-7_footer .btn-faq:active,
.template-7_footer .btn-dropdown:active{
    background-color: #fff !important;
    border-color: #d8d8d8 !important;
    box-shadow: inset 0 4px 6px rgba(51, 51, 51, .15) !important;
}

.template-7_footer .btn-faq i {
    margin-right: 4px;
}